<!doctype html>
<html>
    <head>
        {% block title %}
        <title>sr.ht</title>
        {% endblock %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        <img class="moe" src="/static/{{ random.randint(2, 10) }}.png" />
        {% block modal %}{% endblock %}
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="/static/qrcode.min.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
